/* Asterisk selector set to override browser style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font Family */
.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Body */
body {
    text-align: center;
    font-family: "Indie Flower", cursive;
    color: #d2691e;
    width: 100vw;
    height: 100vh;
}

/* Header */
#logo {
    border-radius: 40%;
    margin-top: 5%
}

a {
    text-decoration: none;
}

h1 {
    color: #d2691e;
    font-size: 1rem;
}

#get-started {
    color: #d2691e;
    font-size: 1em;
}

/* Main Content */
/* My username section */
#username {
    border-radius: 15px;
    border: 2px solid chocolate;
    background-color: rgb(247, 182, 135);
    color: white;
    box-shadow: 0 0 10px 2px;
    text-align: center;
    margin-bottom: 20px;
}

.player-name {
    font-weight: bold;
    padding-top: 10%;
}

/* The question container viewing the question and the image */
#question-container {
    border-style: ridge;
    border-color: #d2691e;
    box-shadow: 0 0 10px 2px;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    
}

.safari-question {
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5% 0;
    font-size: 1.5em;
    width: 50%;
    margin: auto;
    padding: 50px 0;
}

.safari-quizAnimals {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto;
}

/* The radio buttons section */
#answer-clue {
    letter-spacing: 1.5px;
    color: #d2691e; 
    font-weight: bold; 
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#answer-clue:hover {
    cursor: pointer;
}

label {
    padding: 0 5% 0 1%;
}


/* Score area */
.points {
    padding-top: 10px;
}

#correct {
    color: green;
    font-weight: bold;
    font: 1.5em;
}

#wrong {
    color: red;
    font-weight: bold;
    font: 1.5em;
}

/* When game is over, the screen will apply the below style */
#gameover {
    display: none;
    border-style: ridge;
    border-color: #d2691e;
    box-shadow: 0 0 10px 2px;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    background-color: black;
}

.over {
    color: red; 
    display: flex;
    justify-content: center;
    padding-top: 20%; 
    font-size: 3rem;
}

.gameover-message {
    color: white;
    padding: 10%;
    font-size: 2rem;
}

/* When game is over, reload button will be clicked */
#reload-btn {
    display: none;
    background-color: greenyellow;
    color: #d2691e;
    border-radius: 15px;
    width: 30%;
    margin: 10px 5px 0 50px;
    font-family: inherit;
    font-weight: bold;
}

#reload-btn:hover {
    cursor: pointer;
    background-color: #d2691e;
    color: white ;    
}

@media screen and (min-width: 320px) {
    #question-container {
        height: 70vh;
    }
}

@media screen and (min-width:768px) {
    h1 {
        font-size: 2em;
    }

    #get-started {
        font-size: 1.5em;
    }

    .player-name {
        font-size: 1.5em;
    }

    #answer-clue {
        font-size: 1.5em;
    }

    .points {
        font-size: 1.5em;
    }
}

